{% extends "layout.html" %}
{% block content %}
    <h2>Quotes</h2>

    <h3>Add Quote Information <a href="{{ url_for('quotes') }}">here</a></h3>
    <h3>View All entries <a href="{{ url_for('entries') }}">here</a></h3>
    <h3>Delete entry <a href="{{ url_for('delete') }}">here</a></h3>
    <h3>Update <a href="{{ url_for('update') }}">here</a></h3>

{% endblock %}
