{% extends "layout.html" %}
{% block content %}
    <h2>Add Quote Information</h2>
    <form action="{{ url_for('update') }}" method=post>
    <p class="heading">Old Quote: <input type=text name=old_quote></p>
	<p class="heading">New Quote: <input type=text name=new_quote></p>
	<p class="heading">Person: <input type=text name=person></p>
    <p class="heading">Date: <input type="date" name="date"></p>
    <p class="heading">Source Type:
        <select name="source_type">
            <option value="book">Book</option>
            <option value="speech">Speech</option>
            <option value="essay">Essay</option>
            <option value="movie">Movie</option>
            <option value="song">Song</option>
        </select>
    </p>
    <p class="heading">Source: <input type="text" name="source"></p>
    <p class="heading"> Rating
        <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </p>
	<p><input type=submit value=submit></p>
    </form>
{% endblock %}