{% extends "layout.html" %}
{% block content %}

<h2>Add Quote to delete</h2>
<form action="{{ url_for('delete') }}" method=post>
    <p class="heading">Quote: <input type=text name=quote></p>
    <p><input type=submit value=submit></p>
</form>

{% endblock %}