{% extends "layout.html" %}
{% block content %}

<h3>Entries</h3>
{% for entry in entries %}
    <p class=entry>
        quote       : {{ entry.quote }} <br>
        person     : {{ entry.person }} <br>
        date       : {{ entry.date }}<br>
        source_type: {{ entry.source_type }}<br>
        source     : {{ entry.source }}<br>
        rating     : {{ entry.rating }}
    </p>
{% endfor %}

{% endblock %}
