/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
}

.container {
    max-width: 600px; 
    background-color: white;
    margin: 20px auto;
    padding: 30px 30px 30px 30px;
    border-collapse: collapse;
    border-radius: 5px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.song-table {
    width: 100%;
    border-collapse: collapse;
}

.song-table th, .song-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.song-table th {
    background-color: #1DB954;
    color: #fff;
}

.song-table td {
    background-color: #f8f8f8;
}

.song-table tr:nth-child(even) td {
    background-color: #f2f2f2;
}

.song-name {
    font-weight: bold;
}

.song-artist {
    color: #555;
}

.song-preview {
    color: #888;
}

.mood-highlight {
    background-color: #1DB954;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card-header {
    background-color: #1DB954;
    color: #fff;
    padding: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1DB954;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #15a04a; /* Slightly darker green */
}