{% extends "layout.html" %}
{% block content %}
    {% if city_not_found %}
        <div class="container">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">City Not Found!</h4>
                <p>We couldn't find weather information for the city you entered. Please try again with a different city.</p>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h2>Unlock Your City's Playlist: Discover Songs Tailored to Your Weather</h2>
                </div>
                <div class="card-body">
                    <form action="{{ url_for('weather') }}" method="post">
                        <div class="form-group">
                            <input type="text" name="city" class="form-control" placeholder="Enter city name (lowercase only)">
                            <small class="form-text text-muted">Please enter the correct city name</small>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
