{% extends "layout.html" %}
{% block content %}
    <div class="container d-flex justify-content-center align-items-center">
        <div class="card">
            <div class="card-header">
                <h2>WeatherBeats</h2>
            </div>
            <div class="card-body">
                <p class="card-text">Where the forecast meets your playlist</p>
                <div class="card-button">
                    <h3>Update the location <a href="{{ url_for('weather') }}" class="btn btn-link">here</a></h3>
                    <p>Get song recommendations based on weather information for your location</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
