<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Playlist</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Spotify Playlist for Mood: <span class="mood-highlight">{{ mood }}</span></h1>
        
        {% if top_songs %}
            <table class="song-table">
                <thead>
                    <tr>
                        <th>Song</th>
                        <th>Artist</th>
                    </tr>
                </thead>
                <tbody>
                    {% for song in top_songs %}
                        <tr>
                            <td class="song-name">{{ song.name }}</td>
                            <td class="song-artist">{{ song.artists }}</td>
                            <td class="song-preview">{{ song.preview }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No top songs found for this mood.</p>
        {% endif %}
    </div>
</body>
</html>