{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Unlock Your City's Playlist: Discover Songs Tailored to Your Weather</h2>
            </div>
            <div class="card-body">
                <form action="{{ url_for('weather') }}" method="post">
                    <div class="form-group">
                        <input type="text" name="city" class="form-control" placeholder="Enter city name">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
